<div class="container row">
    <div class="col-sm-8 col-sm-push-2" >
        <form id="center-content-area">
            <div class="form-group has-feedback">
                <label  class="control-label">Enter site name:</label>
                <input type="text" class="form-control" required="required"
                       value="" placeholder="Example : Memes" minlength="2" maxlength="30">
            </div>

            <div class="form-group has-feedback">
                <label class="control-label">Site description:</label>
                <textarea id="message" class="form-control" rows="3"
                          placeholder="Example : Thus site about memes"
                          minlength="20" maxlength="500" required="required"></textarea>
            </div>

            <div class="form-group has-feedback">
                <label class="control-label">Choose theme :</label>
                <label class="radio-inline"><input type="radio" name="optradio"
                                                   ng-click="change_theme('default')">
                    Default
                </label>
                <label class="radio-inline"><input type="radio" name="optradio"
                                                   ng-click="change_theme('dark')">
                    Dark
                </label>
            </div>


            <button ng-click="save()">Save</button>
        </form><!-- Конец формы -->
    </div>


</div>