<div class="row row-offcanvas row-offcanvas-right ">
			<div>
				<div class="col-xs-12 col-sm-9 col-lg-9 item thumbnail panel panel-body" ng-repeat="site in sites">
					<div class="col-md-2 verticalhr">
						<div class="row">
							<img alt="{{site.userName}}" src="{{site.site_logo_url}}" class="img-circle" width="50px" height="50px"/>
						</div>
						<div class="row">
							<a href="#/user/{{site.userName}}" >{{site.userName}}</a>
						</div>
					</div>

					<div class="row">
						<h2 align="center">{{site.name}}</h2>
						<div class="preview-img text-center">
							<a href="#/site/{{site.id}}" >
							</a>
						</div>
					</div>

					<div class="row">
						<p class="text-center">{{site.description}}</p>
					</div>
					<hr>
				</div>
			</div>
		</div>


