
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{user.username}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                                <img  ng-model="image" ng-src={{image}} src="{{user.avatarUrl}}" class="img-circle center-block image-container img-responsive"/>
                            </div>
                        </div>

                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>{{'FIRST_NAME' | translate}}</td>
                                    <td>
                                        {{user.firstName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{'LAST_NAME' | translate}}</td>
                                    <td>
                                        {{user.lastName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{'EMAIL' | translate}}</td>
                                    <td>
                                        {{user.email}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{'ABOUT' | translate}}</td>
                                    <td>
                                        <p class="text-left">
                                            {{user.about}}
                                        </p>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                            <a  href="#/edituser/{{user.username}}" ng-show="isRootUser()" data-original-title="{{'EDIT_USER | translate'}}" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">

                        <div class="row panel panel-default">
                            <div class="panel panel-body">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default btn-block" ng-click="showSites()">
                                        {{'SITES' | translate}}
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default btn-block" ng-click="showComments()">
                                        {{'COMMENTS' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="isShowSites">

                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-sm btn-block">
                                            {{'BYRATE' | translate}}
                                        </button>
                                    </div>
                                    <div class="col-md-6">

                                        <button type="button" class="btn btn-block btn-sm">
                                            {{'BYDATE' | translate}}
                                        </button>
                                    </div>
                                </div>

                                <div class="col-sm-6 " ng-repeat="site in user.site ">
                                    <div class="card radius shadowDepth1 col-sm-12" >
                                        <div class="card__image border-tlr-radius">
                                            <img src="{{site.siteLogoUrl}}" height="200px"  class="border-tlr-radius">
                                        </div>

                                        <div class="card__content card__padding">

                                            <div class="card__meta">
                                                <a href="#">Web Design</a>
                                                <time>17th March</time>
                                            </div>

                                            <article class="card__article">
                                                <h2><a href="#">{{site.sitename}}</a></h2>

                                                <p>{{site.description}}</p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                </div>
                        </div>

                        <div class="row" ng-show="isShowComments">

                            <div class="row"  ng-repeat="com in user.comments track by $index">
                                <div class=" panel panel-default">
                                    <div class="panel-body">
                                        <div class="col-md-2 verticalhr">
                                            <div class="row">
                                                <img alt="{{com.userName}}" src="{{com.userAvatarUrl}}" class="img-circle" width="50px" height="50px"/>
                                            </div>
                                            <div class="row">
                                                <a href="#/user/{{com.userName}}" >{{com.userName}}</a>
                                            </div>

                                        </div>
                                        <div class="col-md-10 panel-body">
                                            <h4>{{com.text}}</h4>
                                        </div>
                                        <div class="pull-right">
                                            {{com.creationTime}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <form ng-submit="addComment()" ng-show="hasRole('USER')" name="myForm" type="POST">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button ng-click="" type="submit" class="btn btn-default">
                                            <i class="glyphicon glyphicon-share"></i>
                                        </button>
                                    </div>
                                    <input type="text" ng-model="comment.text" class="form-control">
                                </div>
                            </form>

                        </div>

                        <div class="col-md-3">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>